/*barra de navegacao*/
.navbar-cor{
background-color:#42f48c;
}
.logo{
width:327px;
height:46px;
}

.img-login{
width:30px;
height:30px;
border-radius:100%;	
}

.borda-pesquisa{
border:1px solid #FFF;	
}

.borda-icone-pesquisa{
border: 1px solid #FFF;	
border-top-right-radius:8px;	
border-bottom-right-radius:8px;
}

.icone-pesquisa{
width:38px;
height:38px;
}

/*home*/
.bg-home{
background-image:url('../img/action-america-architecture-378570.jpg');
background-size:100% 100%;
}
.texto-meio{
font-weight:bold;
font-size:40px;
text-align:center;
vertical-align:middle;
line-height:500px;
color:#FFF;
}

/*.float1{
float:right !important;	
}*/

/*rodape*/
html,body{
margin:0;
padding:0;
height:100%;
}
#holder{
min-height:100%;
position:relative;
}
#body{
padding-bottom:60px;
}
.rodape{
height: 60px; 
line-height:60px;
width:100%;
position: absolute;
left: 0;
bottom: 0; 
background-color:#000;
color:#FFF;
text-align:center;
/*display:table;
vertical-align:middle;
line-height:50px;*/
}

/*extras*/
.pad-top{
padding-top:10px;	
}

.cor1{
background-color:yellow;
}

.cor2{
background-color:red;
}

/*lista-usuario*/
.icone{
width:20px;
height:20px;	
}

/*pagina de perfil do usuario*/
.c-foto-perfil{
text-align:center;
}
.foto-perfil{
width:100%; 
height:100%;
max-width:200px;
max-height:200px;
min-width:194px;
min-height:194px;
border-radius:100%;
display:inline-block;
/*max-height:200px;*/
}

.b-menu-perfil{
border-radius:0;
background-color:#42f48c;
border-color:#42f48c;
}

.b-menu-perfil .nav-link{
color:#FFF;
font-size:18px;
font-weight:bold;
}

.b-menu-perfil .nav-link:hover{
background-color:#75ffae;
cursor:pointer;
border-radius:0;
}

.b-menu-perfil .nav-link.active{
background-color:#42f48c;	
}

/*.link-perfil:hover{
color:#FFF;

}*/

.area-foto-nome{	
padding:10px;
}

.capa{
/*background-image: url("../img/apple-mouse-artificial-flowers-blurred-background-1229861.jpg");*/
background-color:#FFF;
background-size:100% 100%;
height:310px;
/*border-radius: 4px 4px 8px 8px;*/
}

.container-nome-perfil{
display:table;
height:100%;
/*width:100%;*/
overflow:hidden;
}

.nome-perfil{
/*position:absoule;
bottom:0;
left:0;*/
color:#FFF;
font-family:Arial;
font-weight:bold;
font-size:40px;
display:table-cell;
vertical-align:bottom;
}

/*@media (max-width:768px){
	.container-nome-perfil{
		margin-left:auto;
		margin-right:auto;
	}
}*/
.container-nome-perfil{
		margin-left:auto;
		margin-right:auto;
	}

/*@media (max-width:991px){
	.margem-post{
		margin-right:15px;
		margin-left:15px;
	}
	
}*/

/*.menu-perfil{
background-color:#42f48c;
padding:10px;
border-right:1px solid #FFF;
}*/

/*.ultimo{
border-right:none;	
}*/

/*.link-perfil{
color:#FFF;	
font-weight:bold;
font-family:Arial;
}*/

/*.link-perfil:hover{
border-bottom:2px solid #FFF;
color:#FFF;
text-decoration:none;	
}*/

/*card header*/
.c-header1{
/*border-bottom:1px solid #42f48c;*/
float:left;
}

.btn-cor1{
background-color:#42f48c;
color:#FFF;
}

.btn-cor1:hover{
color:#fafafa;	
}

.sem-margem{
margin:0;
padding:0;
}

.emp{
padding-left:0;
}

/*.titulo-perfil{
font-weight:bold;	
}*/

/*pagina inicial*/
.cor-fundo{
/*background-color:#e9ebee; /*facebook*/	
/*background-color:#e6ecf0; /*twiiter*/
background-color:#fafafa; /*instagram*/
}

/*Feed de Postagens*/
.espaco{
margin-top:50px;	
}

.area-post{
background-color:#FFF;	
}

.pad-info-post{
padding-left:5px;	
}

.pad-topo-post{
padding-left:5px;
padding-top:5px;
}

.c-icone-u-post{
float:left;
}

.c-info-post{
float:left;	
padding-left:10px;
}

.icone-u-post{
width:40px;
height:40px;
border-radius:100%;
}

.nome-post{
font-family:arial;
font-weight:bold;
font-size:16px;
display:inline;
/*padding-left:4px;*/	
padding:0px;
margin:0px;
}

.data-post{
font-size:12px
/*padding:0px;
margin:0px;*/
}
.conteudo-post{
padding-top:5px;
padding-bottom:10px;
padding-right:10px;
padding-left:10px;	
}

.texto-curtidas{
font-size:14px;	
}

.c-i-menu-post{
padding:5px;
}

.c-i-menu-post:hover{
background-color:#75ffae;
/*border-radius:4px;*/
cursor:pointer;	
}

/*.btn-post:hover{
background-color:#75ffae;
border-radius:8px;
cursor:pointer;	
}*/

.cor-curtir{
color:#007bff;	
}

.icone-menu-post{
width:23px;
height:23px;
margin-right:2px;
}

/*.texto-post{
width:100%;
}*/

#upload-imagem{ /*esconde texto do input file*/
position:absolute;
opacity:0;
z-index:-1;
}

.fix{ /*botões p/ realizar post*/
margin-top:9px;	
}

.container-img-post{
width:100%;	
height:auto;
margin:0 auto;
}

.img-post{
width:100%;
height:100%;
}

/*.borda-post{
border:1px solid #42f48c;	
border-radius:4px;
}*/

@media (min-width:768px){
	.borda-post2{
	/*border-left:1px solid #42f48c;	
	border-right:1px solid #42f48c;*/
	border-radius:4px;	
	/*border: 1px solid #42f48c;
	box-sizing: border-box;*/
	}

	.borda-v{
	border-top:1px solid #42f48c;
	border-top-left-radius:4px;
	border-top-right-radius:4px;	
	}

	.borda-esq-dir{
	border-right:1px solid #42f48c;
	border-left:1px solid #42f48c;	
	}
	.capa{
		height:350px;
	}
	.espaco-m{
		margin-top:50px;
	}
}
.espaco-m{
		margin-top:80px;
	}
	
.borda-v{
	border-top:1px solid #42f48c;	
	}
/*.borda-cima-post{
/*border-top-left-radius:8px;
border-top-right-radius:8px;
}*/

.menu-post{
font-family:Arial;
font-weight:bold;
color:#FFF;
background-color:#42f48c;
/*border-bottom-left-radius:8px;
border-bottom-left-radius:8px;*/
}
.rd-e{border-bottom-left-radius:4px;}
.rd-d{border-bottom-right-radius:4px;}


.b-menu-post{
font-family:Arial;
font-weight:bold;
color:#FFF;
background-color:#42f48c;	
}

.sem-margem{
margin:0;	
}

.sem-pad{
padding:0;	
}

.btn-area-post{ /*"carregar mais posts"*/
background-color:#42f48c;
color:#FFF;
/*margin:0px;*/
}

.btn-area-post:hover{
background-color:#8effbd;
color:#FFF;
}

/*area-adm*/
.container-img-lista{
width:50px;
height:50px;	
}

.img-lista{
width:100%;
height:100%;	
}